@import '../../../components/slideshow/product';
.navigat {
    display: block;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
    h2 {
        float: left;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        padding: 14px 10px;
        text-transform: uppercase;
    }
}
