[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icon";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-cpu:before {
    content: "!"
}

.icon-lightbulb:before {
    content: ""
}

.icon-check:before {
    content: ""
}

.icon-call:before {
    content: ""
}

.icon-megaphone:before {
    content: ""
}

.icon-mail:before {
    content: ""
}

.icon-star-half:before {
    content: ""
}

.icon-star:before {
    content: ""
}

.icon-star-empty:before {
    content: ""
}

.icon-right-open-big:before {
    content: ""
}

.icon-right-thin:before {
    content: ""
}

.icon-up-open-big:before {
    content: ""
}

.icon-left-open-big:before {
    content: ""
}

.icon-down-open-big:before {
    content: ""
}

.icon-hdd-black:before {
    content: ""
}

.icon-left-thin:before {
    content: ""
}

.icon-down-thin:before {
    content: ""
}

.icon-heart:before {
    content: ""
}

.icon-heart-empty:before {
    content: ""
}

.icon-cancel-circled:before {
    content: ""
}

.icon-cancel:before {
    content: ""
}

.icon-down-dir:before {
    content: ""
}

.icon-up-dir:before {
    content: ""
}

.icon-left-dir:before {
    content: ""
}

.icon-right-dir:before {
    content: ""
}

.icon-face:before {
    content: ""
}

.icon-plus-squared:before {
    content: ""
}

.icon-minus:before {
    content: ""
}

.icon-plus:before {
    content: ""
}

.icon-sd-card:before {
    content: ""
}

.icon-minus-squared:before {
    content: ""
}

.icon-help-circled:before {
    content: ""
}

.icon-help:before {
    content: ""
}

.icon-chat:before {
    content: ""
}

.icon-movie:before {
    content: ""
}

.icon-export:before {
    content: ""
}

.icon-reply:before {
    content: ""
}

.icon-reply-all:before {
    content: ""
}

.icon-quote:before {
    content: ""
}

.icon-thumbs-up:before {
    content: ""
}

.icon-eye:before {
    content: ""
}

.icon-calendar:before {
    content: ""
}

.icon-arrow-combo:before {
    content: ""
}

.icon-ccw:before {
    content: ""
}

.icon-basket:before {
    content: ""
}

.icon-apple:before {
    content: ""
}

.icon-doc:before {
    content: ""
}

.icon-save:before {
    content: ""
}

.icon-ffriend:before {
    content: ""
}

.icon-gift:before {
    content: ""
}

.icon-game:before {
    content: ""
}

.icon-laptop:before {
    content: ""
}

.icon-machine:before {
    content: ""
}

.icon-renew:before {
    content: ""
}

.icon-internet:before {
    content: ""
}

.icon-tv:before {
    content: ""
}

.icon-card:before {
    content: ""
}

.icon-video:before {
    content: ""
}

.icon-water:before {
    content: ""
}

.icon-phonecard:before {
    content: ""
}

.icon-we:before {
    content: ""
}

.icon-document:before {
    content: ""
}

.icon-electric:before {
    content: ""
}

.icon-fado:before {
    content: ""
}

.icon-phone:before {
    content: ""
}

.icon-promo:before {
    content: ""
}

.icon-sim:before {
    content: ""
}

.icon-supp:before {
    content: ""
}

.icon-tablet:before {
    content: ""
}

.icon-ok-circled:before {
    content: ""
}

.icon-software:before {
    content: ""
}

.icon-plus-circled:before {
    content: ""
}

.icon-ffriend-min:before {
    content: ""
}

.icon-spin:before {
    content: ""
}

.icon-reload:before {
    content: ""
}

.icon-print:before {
    content: ""
}

.icon-minus-circled:before {
    content: ""
}

.icon-emo-happy:before {
    content: ""
}

.icon-crown:before {
    content: ""
}

.icon-tryon:before {
    content: ""
}

.icon-glasses:before {
    content: ""
}

.icon-user:before {
    content: ""
}

.icon-users:before {
    content: ""
}

.icon-cam:before {
    content: ""
}

.icon-layout:before {
    content: ""
}

.icon-menu:before {
    content: ""
}

.icon-info-circled:before {
    content: ""
}

.icon-download:before {
    content: ""
}

.icon-pencil:before {
    content: ""
}

.icon-book:before {
    content: ""
}

.icon-login:before {
    content: ""
}

.icon-trophy:before {
    content: ""
}

.icon-battery:before {
    content: ""
}

.icon-mobile:before {
    content: ""
}

.icon-send:before {
    content: ""
}

.icon-dot:before {
    content: ""
}

.icon-search:before {
    content: ""
}

.icon-picture:before {
    content: ""
}

.icon-home:before {
    content: ""
}

.icon-tag:before {
    content: ""
}

.icon-tags:before {
    content: ""
}

.icon-edit:before {
    content: ""
}

.icon-location:before {
    content: ""
}

.icon-trash-empty:before {
    content: ""
}

.icon-flash:before {
    content: ""
}

.icon-phone-squared:before {
    content: ""
}

.icon-hdd:before {
    content: ""
}

.icon-filter:before {
    content: ""
}

.icon-mail-alt:before {
    content: ""
}

.icon-angle-left:before {
    content: ""
}

.icon-angle-right:before {
    content: ""
}

.icon-angle-up:before {
    content: ""
}

.icon-angle-down:before {
    content: ""
}

.icon-star-half-alt:before {
    content: ""
}

.icon-windows:before {
    content: ""
}

.icon-android:before {
    content: ""
}

.icon-trash:before {
    content: ""
}

.icon-battery-full:before {
    content: ""
}

.icon-map-o:before {
    content: ""
}

.icon-map:before {
    content: ""
}

.icon-ram:before {
    content: ""
}

.icon-camera:before {
    content: "📷"
}

.icon-watch:before {
    content: "#"
}

.icon-clock:before {
    content: '"'
}

.icon-phone_iphone:before {
    content: ''
}

.icon-new:before {
    content: '$'
}

.fs-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
