/node_modules
/public/hot
/public/storage
/storage/*.key
/public/assets/css
/public/assets/js
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
