.#{$la-css-prefix}-search:before { content: la-content($la-search); }
.#{$la-css-prefix}-plus-circle:before { content: la-content($la-plus-circle); }
.#{$la-css-prefix}-dollar:before { content: la-content($la-dollar); }
.#{$la-css-prefix}-bars:before { content: la-content($la-bars); }
.#{$la-css-prefix}-keyboard-o:before { content: la-content($la-keyboard-o); }
.#{$la-css-prefix}-map-marker:before { content: la-content($la-map-marker); }
.#{$la-css-prefix}-times:before { content: la-content($la-times); }
.#{$la-css-prefix}-power-off:before { content: la-content($la-power-off); }
.#{$la-css-prefix}-user:before { content: la-content($la-user); }
.#{$la-css-prefix}-file-text-o:before { content: la-content($la-file-text-o); }
