.fs-main {
    padding: 132px 0 15px 0;
    background: #f3f3f3;
}

.mf-body {
    max-width: 640px;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .fs-main {
        padding: 100px 0 15px 0;
    }
}
