.fs-hshd {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.homepromo {
    display: block;
    background: #ffffff;
    border-top: 1px solid #eee;
    height: 324px;
    overflow: hidden;
}

#accessories{
    .owl-item{
        width: 240px;
    }
    .item {
        position: relative;
        overflow: hidden;
        a {
            display: block;
            overflow: hidden;
            background: #fff;
            padding: 10px 0;
        }
        img {
            display: block;
            width: 180px;
            height: 180px;
            margin: 15px auto;
            transition: all ease 300ms;
        }
        h3 {
            display: block;
            line-height: 1.3em;
            font-size: 14px;
            color: #333;
            margin: 0 10px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .price {
            display: block;
            overflow: hidden;
            padding: 5px 10px 10px 10px;
        }
        label {
            display: inline-block;
            position: absolute;
            top: 187px;
            left: 10px;
            font-size: 11px;
            color: #fff;
            font-weight: 600;
            background: #3fb846;
            border-radius: 2px;
            padding: 0 5px;
        }
        label.discount {
            background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
            border-radius: 10px;
            padding: 1px 7px;
            padding-left: 0;
            padding-right: 10px;
            &:before {
                content: ' ';
                display: inline-block;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaCAYAAAC+aNwHAAAABGdBTUEAALGPC/xhBQAAAVpJREFUOBGVki1LBFEUhueuH0FQTAuimxVE2KZBgxj8AxaLglj8AYLJZLOYtFpFwWQ2iMUkiyBqNCloEFEQYXzuzl7mzP0Y7z3w7j0f73PuDDtZFhl5njfRI5qJREobUB+6RL9otJxEZkD7SMd1JFLagFa6aPGzW04iMpgp9CEWzEZghQVoGN0L+I28kbLgVMA6PUmBty1YlxtRCzAuIv132THx7wKIcfRik9R3IbjfDDANkp+hpumJ8535pqhN+mySDMMhSo1OdwHUWiqJ/wu19c3tXsGRFOvm9k4SVpiPzLsr6mWKlmmIc568uEU0SW/QglLqp9q2KhYfe57slZ7vsiqNqYHs70F/XEtVZ6DCOIfs2AnY3TbknkWfUyvXGehgvhULHshHAla3jbkl4E/yaddV0wHYEgtWa6z+EfBFb8GB31HTBRxC3+gKDdRY/SOgSfSExvwOt/sHwv9i4NYIgYYAAAAASUVORK5CYII=);
                background-size: 50% 50%;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #f13500;
                border-radius: 50%;
                vertical-align: middle;
                position: relative;
                top: -1px;
                margin-right: 5px;
            }
        }
        strong {
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            font-size: 14px;
            color: #e10c00;
            line-height: 15px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            text-decoration: line-through;
            margin-left: 5px;
            color: #222;
        }
    }
}

#accessories .item>a:hover>img {
    margin: 5px auto 25px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


#image-phone, #image-laptop, #image-tablet{
    height: 242px;
    overflow: hidden;
}
