.modal{
    max-width: 650px;
}
#modal-pro-detail{
    h2 {
        font-weight: 500;
    }
    .scroll {
        height: max-content;
        width: auto;
        padding: 0 30px 0 30px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
    }
    .parameterfull {
        display: block;
        position: relative;
        overflow: hidden;
        background: #fff;
        li {
            display: table;
            *display: block;
            background: #fff;
            width: 100%;
            border-bottom: 1px solid #dadada;
            label {
                display: block;
                background: #f2f2f2;
                font-size: 16px;
                font-weight: 600;
                color: #c0392b;
                padding: 8px;
            }
            span {
                display: table-cell;
                *float: left;
                width: 35%;
                vertical-align: top;
                padding: 6px 5px;
                font-size: 13px;
                color: #666;
                font-weight: 600;
            }
            div {
                display: table-cell;
                *float: left;
                width: auto;
                vertical-align: top;
                padding: 6px 5px;
                font-size: 13px;
                color: #666;
                a {
                    color: #288ad6;
                }
            }
        }
    }
}
